<aside id="sidebar">
    <span id="logo"></span>
    <p id="sov">(Sección adherida al <a href="http://sovmadrid.cnt.es/">SOV de
    Madrid</a>)</p>
    <h3>Permanencias (6º piso):</h3>
    <ul>
        <li>de lunes a viernes de 19h a 21h</li>
    </ul>
    <h3>Asambleas (6º piso):</h3>
    <ul>
        <li>Primer y tercer lunes de cada mes a las 19:15</li>
    </ul>
    <h3>Convenios Colectivos</h3>
    <ul>
        <li><a href="{{url('ECLLaboralBundle_convenios_despachos')}}">Oficinas y Despachos</a></li>
        <li><a href="{{url('ECLLaboralBundle_convenios_metal')}}">Industria, Servicios e Instalaciones del Metal</a></li>
        <li><a href="{{url('ECLLaboralBundle_convenios_ingeniera')}}">Empresas de ingeniería y oficinas de estudios técnicos</a></li>
        <li><a href="{{url('ECLLaboralBundle_convenios_consultoria')}}">Consultoría y estudios de mercado y de la opinión pública</a></li>
    </ul>
    <h3>Campañas</h3>
    <a href="http://informaticamadrid.cnt.es/social/software-libre" class="campanas">
        <strong>Software Libre y Anarquismo</strong>
        Desde la sección de Telecomunicaciones y Servicios Informáticos estamos
        elaborando un pequeño dossier sobre el Software Libre desde
        una perspectiva anarquista el cual actualizamos de manera intermitente.
    </a>		
    <h3>Solidaridad Confederal</h3>
    <a href="http://www.iwa-ait.org/?q=es/node/171" class="campanas">
        <strong>ROCHE despide activista sindical. El uso generalizado de
        seudocontratados será persergido y condenado</strong>
        En diciembre, la ZSP-AIT inició un conflicto con Roche Polska. Nuestro
        compañero está exigiendo su readmisión en el puesto de trabajo y el
        reconocimiento de su estatus de empleo, incluida la compensación por los
        beneficios perdidos. Ha habido acciones de solidaridad internacional el
        8, 15 y 29 de marzo.
    </a>
    <p id="final">Si nadie trabaja por ti, que nadie decida por ti.</p>
    <h3>Síguenos:</h3>
    <ul id="followus">
        <li><a href="{{url('ECLArticlesBundle_rss')}}" class="rss"
        title="Suscríbete a nuestro RSS"></a></li>
        <li><a href="http://twitter.com/#!/cntmadridinform" class="twitter"
        title="Síguenos en Twitter"></a></li>
        <li><a href="http://identi.ca/cntmadridinformatica" class="identica"
        title="Síguenos en Identica"></a></li>
        <li><a href="http://www.facebook.com/CNTIndraMadrid" class="facebook"
        title="Facebook de CNT Indra Madrid"></a></li>
        <li><a href="http://www.facebook.com/NOprivatizacionBNE" class="facebook"
        title="Facebook de CNT BNE"></a></li>
    </ul>
</aside>
